<body class="text-center">

  <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
  
        <app-navbar></app-navbar>
      

    <main role="main" id="margin-top" class="inner cover">
      <h1 [@slideInOutRight]='transition'class="cover-heading"><u>Meet Donovan</u></h1>
      <br/>
      <p class="lead" [@slideInOutLeft]='transition'>Hi there, I am a Web Developer, Mobile Applications Developer occasional Mentor and Technology Instructor located in Michigan. My love for just about all things computers started back in my High School years, I had a computer drafting class that specialized in Photoshop and Illustrator.</p>
      <p class="lead" [@slideInOutRight]='transition'>
        <!--
        <a href="#" class="btn btn-lg btn-secondary">Learn more</a>
        -->
        <a href="https://www.linkedin.com/in/browncdonovan" target="_blank"><i class="fa fa-linkedin fa-3x"></i></a>
        <a href="https://twitter.com/browncdonovan" target="_blank"><i class="fa fa-twitter fa-3x"></i></a>
        <a href="https://github.com/DCbrown" target="_blank"><i class="fa fa-github fa-3x"></i></a>
        <a href="https://www.instagram.com/brown_c_donovan/" target="_blank"><i class="fa fa-instagram fa-3x"></i></a>
       
      </p>
    </main>


    <footer class="mastfoot mt-auto">
      <div class="inner">
        <p>© 2018 Donovan C. Brown, Powered by Angular.</p>
      </div>
    </footer>
  </div>
  </body>